{% extends "base.html" %}

{% block title %}
  Quote Page
{% endblock %}


{% block content %}

{% if notfound %}
  {# Do something. Maybe explain how search should be made. Add a link to Tickers web. #}
  {{ notfound }}
{% else %}
  {% if crpyto.Response %}
    <p>Sorry. {{ quote }} does not exist. Please try again.</p>
  {% endif %}
{% for key,value in crypto.DISPLAY.items %}

  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><strong>{{key}}</strong><br></h1>
        <p class="lead">
        <strong>Price:</strong>{{value.USD.PRICE}}<br>
        <strong>Daily High:</strong>{{value.USD.HIGHDAY}}<br>
        <strong>Daily Low:</strong>{{value.USD.LOWDAY}}<br>
        <strong>Market Cap:</strong>{{value.USD.MKTCAP}}<br>
        <strong>24-hour Fluctuation:</strong>{{value.USD.CHANGE24HOUR}}</p>
      </div>
  </div>

{% endfor %}
{% endif %}


{% endblock %}
